#CreateOrderButton {
    -fx-text-fill: white;
    -fx-background-color: #a81212;
}
#DashBoardButton {
    -fx-text-fill: white;
    -fx-background-color: #a81212;
}
#ProductInventoryButton {
    -fx-text-fill: white;
    -fx-background-color: #a81212;
}
#OrderHistoryButton {
    -fx-text-fill: white;
    -fx-background-color: #a81212;
}
.anchorPane {
    -fx-background-color: white;
}
.gridPane{
    -fx-background-color: #8c0909;
}
#LogOutButton {
    -fx-text-fill: white;
    -fx-background-color: #a81212;
}